.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 50vh !important; */
    min-height: 670px;
    /* background-color: black; */
    background-image: url('../../assets/Home/bg.jpg');
    height: 100%;
    background-color: var(--white);
    width: 100%;
}
@media screen and (max-width:360px){
    .home-container{
        width: 108%;
    }
}