


@font-face{
  font-family:"BASKVILL";
  font-style: normal;
  font-weight:normal;
  src: url("./assets//font/BASKVILL.TTF")
  }
  
  @font-face{
    font-family:"BELL";
    font-style: normal;
    font-weight:normal;
    src: url("./assets/font/BELL.TTF")
    }
    @font-face{
      font-family:"BT";
      font-style: normal;
      font-weight:normal;
      src: url("./assets///font/Aldine721-BT-Roman.ttf")
      }
      @font-face{
        font-family:"cambria";
        font-style: normal;
        font-weight:normal;
        src: url("./assets///font/cambria.ttc")
        }
              
  
  
  
   *{
    outline: none;
    /* box-sizing: border-box; */

  
    }
    
    body{
      /* align-items: center; */
      /* text-align: center; */
    
    margin:0;
    overflow-y:overlay;
    font-family:"";
    -webkit-font-smoothing:antialiased;
    /* -moz-osx-font-smoothing: grayscale */
    background-color:var(--white);
    }
    
    /* code{
    font-family:
    monospace:
    } */
    ::-webkit-scrollbar{
    width:6px !important;
    height:6px !important;
    }
    
    body ::-webkit-scrollbar-thump{
    background-color: hsla(0,0%,100%,0.16);
    }
    
    
    ::-webkit-scrollbar-thump{
    background-color: rgba(0,0,0,0.2)
    }
    ::-webkit-scrollbar-track{
    background-color: hsla(0,0%,100%,0.1);
    }
    
    /* .btn{
    border-radius:50px;
    padding:14px 0;
    width:160px;
    cursor: pointer;
    transition: 0.2s;
    font-family:"";
    background-color: #ff5823;
    }
    .btn:active{
    transform:translateY(2px)
    }
    
    .primary-btn{
    color:var(--white);
    border:2px solid linen inline;
    font-size:12px;
    background-color: #1f2235;
    
    }
     */
    
  
    
    @media Only screen and (max-width: 359px){
    .primary.btn{
    font-size:13px;
    }
    /* body ::-webkit-scrollbar-thump{
      background-color: hsla(0,0%,100%,0.16);
      }
         
    ::-webkit-scrollbar-thump{
      background-color: rgba(0,0,0,0.2)
      }
      ::-webkit-scrollbar-track{
      background-color: hsla(0,0%,100%,0.1);
      }
      ::-webkit-scrollbar{
        width:3px !important;
        height:3px !important;
        }
         */
    }
    
    
    
    
    /* .primary-btn:hover{
    color: aliceblue;
    border:2px solid #ff5823;
    background-color: #1f2235;
    } */
    
    .highlighted-btn{
    color:var(--white);
  font-size:12px;
  background-color:#ff5823;
    }
  @media only screen and (max-wdith:568px){
  .highlighted-btn{
  z-index:-900
  }
  }
  
  .red-border{
  border:1px solid var(--error-message) !important;
  }
  
  .fade-in{
  opacity:0;
  transform: translateY(80px)
  /* trasition:all 0.8s ease; */
  }
  
  
  
