.footer-container{
    /* height: 17.8%; */

    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: -50px;
  /* background-color: var(--white); */
}
.footer-parent{
    width: 100%;
    height: 100%;
   
    /* max-width: 1920px; */
}
img{
    width: 100%;
height: 100%;


}

@media only screen and (max-wdith:1110px){
.footer-parent{
    display: flex;
    align-items: flex-end;
} }
@media only screen and (max-width:970px){
 img{
    height: 50%;
    border: none;
 }
}

